/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #000000;    /* achtergrondkleur lichtgrijs */
  color: rebeccapurple;        /* tekstkleur donkergrijs */
  background-image: 
  url("https://1.bp.blogspot.com/-FjF-zCnXkBE/YTnwTwjGk-I/AAAAAAAABFU/op04qUdx8xM5QA8Vh4oY6J-SKpagPuo2gCLcBGAsYHQ/s1920/plain-black-wallpaper.webpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100%;
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

/* Indeling voor alle pagina's */


main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

/* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 450px;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}

/* Opmaak voor alle pagina's */

h1, h2, h3 {
      transition-duration:2s;
      color: white;
      background-image:radial-gradient(black, black, rebeccapurple);
      text-shadow:2px 3px 5px mediumaquamarine;
}

a {
    color: skyblue;
    text-decoration: none;
}


/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #dddddd;
    background-image:radial-gradient( rebeccapurple, black);
    overflow: hidden;
}

nav ul li {
  display: flex;
  justify-content: center;
}

nav li a {
    display: flex;
    color: white;
    
    padding: 14px 16px;
    text-decoration: none;
  
    transition: margin 25px 2s;
    transition-duration: 0.75s;
}


nav li a:hover {
    margin: 10px;
}

nav li a.active {
   text-decoration: underline;
   text-decoration-color: lavender;
   text-decoration-thickness: 2px;
}

.box1 {
  width: auto;                   
  margin: 10px auto;
  border: solid white;
  border-radius: 25px;
}

.box2 {
  border: solid white;
  width: 55%;
  height: auto; 
  padding: 20px;
  border-radius: 50px;
  /*background-color: rgb(15, 15, 30);*/
  background-image: linear-gradient(black, black, rebeccapurple);
  
}

.boxH{
  width: auto;
  height: auto;
  padding: 5%;
  background-image: linear-gradient(black, black, rebeccapurple);
}

.boxH2 {
  width: 40%;
  padding: 10px;
  background-image: radial-gradient(midnightblue, black);
  border: solid white;
  font-size: 20px;
  color: white;
  float: right;
  margin: 20px;
}

#BoxH3 {
  float: left;
}

.boxH4 {
  padding: 10px;
  background-image: radial-gradient(midnightblue, black);
  border: solid white;
  font-size: 20px;
  color: white;
  margin: 20px;
}

.ronnie{
 transition-duration:2s;
 color:goldenrod;
 text-shadow:2px 3px 5px whitesmoke;
}

.text1{
  color: white;
  font-size: 20px;
}

.img1{
  margin: 20px;
  float: right;
  border: solid white 5px;
}

.img2{
  margin: 20px;
  float: right;
  border: solid white 5px;
  height: 50%;
  width: 50%;
}

.img3{
  margin: 20px;
  float: right;
  border: solid white 5px;
  height: 60%;
  width: 60%;
}

.img4{
  margin: 20px;
  float: right;
  border: solid midnightblue 5px;
  height: 50%;
  width: 50%;
}

.boxFlex {
display: flex; 
justify-content: center;
}

#Steroids {
  text-decoration: underline;
}

html {
height: 100%;
}